@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.bjx-0602{
    background: #293ba7;
    .banner-box{
        overflow: hidden;
        height: r(726);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .cs-bg{
        margin: r(32) r(20);
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        .fromTitle{
            font-size: r(50);
            width: 100%;
            left: 0;
            margin-left: 0;
            border-radius: 0;
            background-image:linear-gradient( -90deg, rgb(79,101,228) 0%, rgb(104,126,241) 100%);
            text-align: center;
            line-height: 2.5;
            color: #fff;
            font-weight: 900;
            span{
                color: #f9ff43;
            }
        }
        .fromTitle02{
            font-size: r(40);
        }
        .fromNumber{
            text-align: center;
            font-size: r(28);
            padding-top: 10px;
            span{
                color: #fc6054;
            }
        }
        .premiumBox {
            width: 100%;
            padding: r(20);
            border: 0;
            background: #ffffff;
            color: #000000;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 0;
            .premium-box{
                padding-right: 0;
                padding-left: 0;
            }
            .btns{
                width: 8rem;
                height: 1.33333rem;
                line-height: 1.33333rem;
                font-size: .66667rem;
                border-radius: 5px;
                margin: 0 auto .13333rem;
                display: block;
                text-align: center;
                background-image:linear-gradient( 180deg, #f8b359  0%,  #fb8026 100%);
                border-radius: r(50);
                color: #fff
            }
            .labeltxt{
                color: #000000;
                width: 23%;
            }
            .box-right{
                width: 75%;
                .active{
                    border: none;
                    color: #fff;
                  
                    background: #576de9;
                }
                .active::before{
                    display: none;
                }
                .active::after{
                    display: none;
                }
                .radio-box{
                    
                    border-radius: r(10);
                    padding: 0 r(4);
                    min-width: r(150);
                }
            }
            .changes{
                border: 1px solid #576de9;
                border-radius: r(10);
            }
        }
    }
    .ct-box-01{
        // margin: 0 r(22);
        // background: #ffffff;
        // padding: r(52) r(29);
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .ct-box-02{
        margin: 0 r(22);
        background: #ffedf0;
        padding: r(52) r(29);
        img{
            width: 100%;
            height: auto;
        }
    }
    .ct-box-03{
        margin: 0 r(22);
        padding: r(52) 0;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.botton-fixed{
    width: 100%;
    font-size: r(36);
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: r(-95);
    background-color:rgb(240,65,87);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    &.show{
        bottom: 0;
    }
}