@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.bxzmx-0421 {
    background: #ebecff;
    .img-box{
        border-radius: 15px;
        padding: 20px 15px;
        background: #fff;
        width: auto;
        margin: 0 .26667rem 30px;
        position: relative;
        img:nth-child(n+2) {
            margin-top: 40px;
        }
        .img-block{
            width: 100%;
            min-height: 3rem;
            display: block;
        }
        .action{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0; 
        }
        .action-pdf{
            position: absolute;
            width: 100%;
            height: r(280);
            left: 0;
            bottom: 0; 
        }
    }
    .img-title{
        width: 100%;
        display: block;
    }
    .premiumBox {
        padding-bottom: 0;
        padding-left: r(20);
        padding-right: r(20);
        padding-top: r(70);;
        width: 100%;
        border: 0;
        color: #000;
        border-radius: 0;
        margin-top: -15px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        .labeltxt{
            width: 25%;
            color: #333;
            text-align: right;
        }
        .box-right {
            width: 72%;
        }
        .premium-box {
            padding: 0.2rem;
        }
        .premium-border{
            position: relative;
            background-color: #fff9f2;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            padding-top: r(60);
            border: 1px solid #4e39ed;
            .premium-title {
                width: r(426);
                height: r(90);
                line-height: r(90);
                border-radius: 5px;
                position: absolute;
                top: r(-44);
                left: 50%;
                margin-left: r(-210);
                background-color: #3a31ee;
                color: #fff;
                font-weight: 900;
                text-align: center;
                font-size: r(60);
            }
            .p2{
                font-size: r(28);
                text-align: center;
                padding-top: r(25);
                padding-bottom: r(30);
                color: #333;
            }
            .btns{
                width: r(650);
                height: r(100);
                line-height: r(100);
                font-size: r(50);
                border-radius: 5px;
                margin: 0 auto r(10);
                display: block;
                text-align: center;
                background: #6058fd;
                box-shadow: 0 4px 0 #1b11d2;
                color: #fff;
            }
        }
        .pre-text{
            padding: r(20) r(30);
            font-size: r(26);
        }
    }  

    .premiumBox_ewm{
        width: 100%;
        padding: r(28);
        margin-top:-0.2rem;
        position: relative;
        .erwema{
            width: r(548);
            left: r(70);
            position: absolute;
            bottom: r(90);
        }
        .erwema01{
            width: r(250);
            left: r(70);
            position: absolute;
            bottom: r(90);
        }
    }  
.blanks {
    height: r(100);
}
.botton{
    width: 100%;
    font-size: r(36);
    height: r(100);
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    background: linear-gradient(#6058fd,#1b11d2);
    font-size: r(46);
    text-align: center;
    line-height: r(100);
    .bottom {
        display: block;
        width: 100%;
        height: r(100);
    }
}
}