@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.dbcp-0109{
    .banner-box{
        width: 100%;
        position: relative;
        img{
            width: 100%;
            display: block;
        }
        .linq{
            position: absolute;
            bottom: 0.4rem;
            width: 100%;
            line-height: 0.8rem;
            background: rgba(0,0,0,0.4);
            font-size: 0.3rem;
            padding: 0.1rem;
            color: #fff;

            .left{
                float: left;
                border-right: 1px solid #666;
                padding-right: 0.1rem;
                span{
                    color: #fe771d;
                }
            }
            .swiper-container{
                height: 0.8rem;
            }
            .right{
                float: right;
                .item{
                    line-height: 0.8rem;
                }
            }
        }
    }
    .wrap{
        .ct-box{
            width: 100%;
            position: relative;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    .premiumBox{
        width:100%;
        height:r(665);
        background:url("../../images/dbcp-0109/4.jpg") no-repeat;
        background-size:100% 100%;
        padding: 0;
        margin: 0;
        border: none;
        padding: r(160) r(80) 0;
        .premium-box{
            
        }
        .labeltxt{
            color: #000;
        }
        .pre-text{
            color: #ccc;
        }
        .btnbox{
            padding:0 r(30);
            span{
                display: block;
                background: #ff6803;
                color: #fff;
                font-size: r(40);
                text-align: center;
                line-height: r(96);
                border-radius: r(48);
            }
        }
        .changes{
            border-radius: 4px;
        }
        .qm-radio-box .radio-box{
            padding: 0 6px;
            min-width: 2rem;
            &.active{
                border-color: #ff771f;
            }
            &.active::after{
                display: none;
            }
            &.active::before{
                display: none;
            }
        }
    } 
    
}
.blanks{
    height: r(90);
}
.botton-fixed{
    width: 100%;
    font-size: r(36);
    height: r(90);
    background: #ff6803;
    line-height: r(90);
    text-align: center;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: r(-90);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    &.show{
        bottom: 0;
    }
}