@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.drw3h-0915 {
    background: #f9caae;
    &.cp-details {
        margin: 0 auto;
    }
    .img-box {
        width: 100%;
        position: relative;
        .img-block {
            width: 100%;
            display: block;
        }
        .action {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .action-pdf {
            position: absolute;
            width: 100%;
            height: r(280);
            left: 0;
            bottom: 0;
        }
    }
    .premiumBox {
        padding: 0;
        overflow: hidden;
        border: none;
        background: url("../../images/drw3h-0915/bg.png") no-repeat;
        background-size: 100% 100%;
        padding-top: r(170);
        padding-bottom: r(20);
        padding-left: r(10);
        padding-right: r(10);
        .labeltxt {
            color: #000;
            height: 1rem;
            line-height: 1rem;
        }
        .premium-box {
            padding: 0;
        }
        .qm-change {
            margin-bottom: r(10);
            min-height: 1rem;
            line-height: 1rem;
            .changes {
                height: 1rem;
                min-height: 1rem;
                line-height: 1rem;
                border-radius: 5px;
            }
            .radio-box {
                margin: 0 !important;
                margin-bottom: r(10) !important;
            }
        }
        .box-right {
            min-height: 1rem;
            line-height: 1rem;
        }
        .pre-text {
            color: #666;
        }
    }
    .fromNumber {
        text-align: center;
        font-size: r(28);
        padding-top: 10px;
        span {
            color: #fc6054;
        }
    }
    .premium-border {
        padding: r(15);
    }
    .premium-title {
        position: absolute;
        top: 0.1rem;
        left: 1.8rem;
        text-align: center;
        .t1 {
            font-size: r(40);
            span {
                color: #ffff00;
            }
        }
        .t2 {
            font-size: r(40);
        }
    }
    .activity-froms {
        width: r(710);
        padding: 0 r(20);
        padding-top: r(120);
        margin: 0 auto;
        margin-top: r(30);
        margin-bottom: r(60);
        background-size: 100% 100%;
        font-size: r(30);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0);
        .qm-change {
            padding: 0;
            margin-bottom: r(10) !important;
            .labeltxt {
                width: r(180);
                line-height: r(70);
                text-align: right;
            }
        }
        #clearfix_change {
            margin-bottom: r(10);
        }
        .qm-input .qm-input-text > span {
            font-size: r(30);
        }
        #costSelet_span {
            line-height: r(75);
        }
        input,
        select {
            font-size: r(30);
            height: r(70) !important;
            line-height: r(70) !important;
            border-color: #ffe4e9;
        }
        .qm-input > div {
            margin-bottom: r(30);
        }
        .box-right_li {
            display: inline-block;
            padding: r(6) r(30);
            border: 1px solid #ffe4e9;
            margin-right: r(10);
            position: relative;
            border-radius: 4px;
            margin-top: r(10);
            i {
                position: absolute;
                bottom: 1px;
                right: r(0);
                width: r(40);
                height: r(36);
                display: none;
                img {
                    width: 100%;
                }
            }
            &.active {
                background: #e13424;
                color: #fff;
                border: 1px solid #e13424;
            }
        }
        #box-right_li_input {
            width: r(110);
            font-size: r(23);
            text-align: center;
            padding: 0;
            &.active {
                border: 1px solid #e13424;
            }
        }
        .box-right_li1 {
            padding: 0 r(6);
            font-size: r(23);
            line-height: r(50);
            margin-right: 0;
        }
    }

    #subMitBtn {
        background-color: #ee2f00;
        border-radius: r(100);
        background-size: 100% 100%;
        width: 90%;
        height: r(88);
        line-height: r(80);
        font-size: r(44);
        font-weight: 900;
        margin: 0 auto;
        display: block;
        color: #fff;
        text-align: center;
        margin: 10px auto;
        span {
            font-size: r(30);
            text-decoration: line-through;
        }
    }

    #aqsm {
        margin-top: r(10);
        padding: r(10) r(30);
        font-size: r(23);
        color: #9a9a9a;
        margin-bottom: 0;
        padding-bottom: r(20);
    }
}
@keyframes commonScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@mixin zoom {
    animation: commonScale 1s infinite ease-in-out;
}
.zoomAni {
    @include zoom;
}
.botton-fixed {
    width: 100%;
    font-size: r(36);
    height: 90px;
    text-align: center;
    color: #fff;
    position: fixed;
    z-index: 1000000;
    left: 0;
    bottom: r(-100);
    background-color: #e13424;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &.show {
        bottom: 0;
    }

    .button {
        .pointer {
            position: absolute;
            bottom: 0;
            right: 100px;
            width: r(50);
        }
        position: relative;
        font-weight: bold;
        width: 80%;
        height: 70px;
        line-height: 70px;
        margin: 0 auto;
        border-radius: r(60);
        color: #c62500;
        background-image: linear-gradient(180deg, #feef3e, #ffbb3e);
    }
}
