@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.wmrs-2020-0909{
    background:#fffbf2;
    padding-bottom:r(100);
    .premiumBox{
        width: r(750);
        height: r(924);
        background:url("../../images/wmrs-2020-0909/2.jpg") no-repeat;
        border: none;
        background-size:r(750) r(924);
        padding: r(40);
        padding-top: r(170);
        margin:0 auto;
        border-radius:0;
        position: relative;
        .premium-title{
            width:r(638);
            text-align: center;
            position: absolute;
            color: #873000;
            top:r(47);
            left:50%;
            transform:translateX(-50%);
            .tit-1{
                font-size: r(34);
                font-weight: bold;
                line-height:r(48);
            }
            .tit-2{
                font-size: r(28);
                line-height:r(42);
                &>.setNum{
                    color: #ff2800;
                }
            }
        }
        .fromNumber{
            background:#fff6e8;
            color:#ff6049;
            font-size:r(27);
            padding:r(10) r(30);
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            top:r(75);
            border-radius:r(40);
        }
        .premium-border{
            .premium-box{
                padding:0;
                .labeltxt{
                    color:#111;
                    font-size:r(28);
                }
            }
            @keyframes commonScale{
                0%{
                    transform:scale(1);
                }
                50%{
                    transform:scale(1.1);
                }
                100%{
                    transform:scale(1);
                }
            }
            .btns{
                animation: commonScale 1s infinite ease-in-out;
                height:r(100);
                line-height:r(100);
                width:r(583);
                font-size:r(46);
                font-weight:bold;
                background:#3866ff;
                box-shadow:0 r(3) r(10) #3866ff;
                display: block;
                text-align: center;
                margin:0 auto;
                border-radius:r(50);
                i{
                    font-size: r(26);
                    font-weight: 300;
                    margin-left: r(10);
                    text-decoration:line-through;
                }
            }
        }
        .pre-text {
            color: #5e5e5e;
            font-size: r(24);
        }
    }
    .img-box{
        width: 100%;
        position: relative;
        .img-block{
            width: 100%;
            min-height: 3rem;
            display: block;
        }
    }
    .botton-fixed{
        width: 100%;
        font-size: r(40);
        letter-spacing: 1px;
        font-weight:bold;
        height:r(100);
        line-height:r(100);
        text-align: center;
        color: #fff;
        position: fixed;
        left: 0;
        bottom:r(-100);
        background-color:#e13424;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        &.show{
            bottom: 0;
        }
    }
}