@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.wxPay-1103{
  min-height: 100vh;
  background: #fff;
  text-align: center;
  font-family: PingFang SC;
  .pic{
    padding-top: 68px;
    img{
      width: 75px;
    }
  }
  .desc{
    font-size: 38px;
    line-height: 53px;
    font-weight: bold;
    color: #3FAE1E;
    margin-top: 20px;
  }
  .title{
    font-size: 36px;
    color: #333;
    margin-top: 110px;
  }
  .price{
    img{
      width: 394px;
    }
  }
  .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 159px;
    span{
      width: 312px;
      height: 76px;
      background: #F2F2F2;
      border-radius: 0.05rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 34px;
      font-weight: bold;
      color: #1BAA1A;
    }
  }
}