@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.wyrs-0519{
    position: relative;
    min-height: 100vh;
    padding-bottom: r(20);
    .premiumBox{
        background-color: #fff6ed;
        color: #000;
        width: 92%;
        padding: 0 r(20);
    }
    .xin{
        position: absolute;
        left: r(-25);
        top: r(-35);
        width: r(67);
    }
    .labeltxt{
        color: #000;
    }
    .btns{
        width: 100%;
        margin: 0 auto;
        display: block;
        font-size: r(40);
        text-align: center;
        color: #fff;
        background-color: #f85856;
        font-weight: 900;
        line-height: r(90);
        border-radius: 5px;
    }
    .premium-border{
        border-radius: 10px;
        padding: r(20);
    }
    .premium-box{
        padding: 0;
    }
}