@charset "utf-8";
@import "../../helper/variables.scss";
@import "../../helper/mixin.scss";
.zjx-1110{
    width: 750px;
    background: url("../../images/zjx-1110/zjx.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding-bottom: 30px;
    overflow: hidden;
    @keyframes scale {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .zoom {
        display: block;
        animation: scale 1s infinite ease-in-out;
    }
    .header{
        height: 1062px;
        background: url("../../images/zjx-1110/zjx1.png") no-repeat;
       background-size: 100% 100%;
       margin-top: 800px;
       position: relative;
       h3{
           position: absolute;
           color:white;
           font-size:36px;
           left:270px;
           top:38px;
           font-weight: 600;
           
       }
       
       .premiumBox .qm-radio-box .radio-box.active{
        background-color: rgb(130,18,239)!important;
        color: #fff;
    }
    input{
        border-radius: 20px ;
        width: 440px ;
    }
    #sex{
        :first-child{
            width: 123px;
        }
        :nth-child(2){
            width: 123px;
        }
    }
    .labeltxt{
         font-weight: 650 !important;
    }
    .radio-box{
        width: 206px ;
        border-radius: 20px ;
        margin-right: 20px ;
        color:rgb(211,211,211);
      
    }
    .premiumBox .qm-radio-box .radio-box.active:before{
        background-color: rgb(130,18,239);
    }
    .premiumBox .qm-change{
        margin-bottom: 0.1rem;
    }
    .premiumBox {
        padding: 0;
        padding-left: r(30);
        padding-right: r(30);
        position: absolute;
        top:50px;
        left:0;
        width: 100%;
        border: 0;
        color: #000;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        .labeltxt{
            color: #333
        }

        #age{
            display: flex;
            justify-content: space-around;
        }
        .premium-border{
            position: relative;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            padding-top: r(60);
            .premium-title {
                width: r(426);
                border-radius: 5px;
                position: absolute;
                top: r(-50);
                left: 50%;
                margin-left: r(-210);
                background-color: #ff7a5b;
                color: #fff;
                font-weight: 900;
                text-align: center;
                font-size: r(60);
            }
            .p2{
                font-size: r(28);
                text-align: center;
             
                padding-bottom: r(30);
                color: #333;
            }
            .btns{
                animation: commonScale 1s infinite ease-in-out;
               margin-top: 30px;
                width: r(533);
                height: r(87);
                line-height: r(87);
                font-size: r(50);
                border-radius: 50px;
                margin: 0 auto r(10);
                display: block;
                text-align: center;
                background: linear-gradient(rgb(255,168,0),rgb(255,93,29));
                box-shadow: 10px 10px 10px rgb(255,222,206);
                color: #fff;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
        }
        .pre-text{
          
            width: 540px;
            font-size: r(24);
            color:rgb(255,134,57);
            margin-left: 74px;
            margin-top: 30px;
            font-weight:600 ;
        }
        .pre-text1{
            width: 540px;
            margin-left: 74px;
          
            font-size: r(20);
            color:rgb(137,137,137);
        }
     
    }  

    .premiumBox_ewm{
        width: 100%;
        padding: r(28);
        margin-top:-0.2rem;
        position: relative;
        .erwema{
            width: r(548);
            left: r(70);
            position: absolute;
            bottom: r(90);
        }
        .erwema01{
            width: r(250);
            left: r(70);
            position: absolute;
            bottom: r(90);
        }
    }  

    }
    .zjx-list{
        position: relative;
        height: 665px;
       
        background: url("../../images/zjx-1110/zjx8.jpg") no-repeat;
        background-size: 100% 100%;
       
        margin-top: 77px;
    }
    .zjx-list1{
        position: relative;
        height: 1565px;
        background: url("../../images/zjx-1110/zjx12.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 45px;
        overflow: hidden;
        h3{
            position: absolute;
            left:90px;
           top:50px;
           font-weight: 600;
            color:white;
            font-size: 30px;
        }
        .list1-img{
            width: 630px;
            margin-left: 57px;
            margin-top: 116px;
           
            img{
                width: 100%;
                
            }
        }
        .list1-img1{
            height: 520px;
            width: 590px;
            
            margin-left: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .fenge{
       width: 565px;
       height: 86px;
       border-radius: 50px;
       font-size: 36px;
       color:white;
       text-align: center;
       font-weight: 700;
       background: linear-gradient(rgb(247,182,50),rgb(242,57,21));
       line-height: 86px;
       margin-left: 90px;
       margin-top: 65px;
       
    }
    .zjx-list2{
        position: relative;
        height: 1565px;
        background: url("../../images/zjx-1110/zjx12.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 30px;
        overflow: hidden;
        h3{
            position: absolute;
            left:110px;
           top:58px;
           font-weight: 600;
            color:white;
            font-size: 30px;
        }
        .list2-img1{
            width: 660px;
            margin-left: 42px;
            margin-top: 167px;
            img{
                width: 100%;
            }
        }
        .list2-img2{
            width: 565px;
            height: 86px;
            border-radius: 50px;
            font-size: 36px;
            color:white;
            text-align: center;
            font-weight: 700;
            background: linear-gradient(rgb(247,182,50),rgb(242,57,21));
            line-height: 86px;
            margin-left: 90px;
           
        }
        .list2-text{
            font-size:24px;
            margin-top: 30px;
            margin-left: 75px;
            font-weight: 600;
            position: relative;
            
            span{
                color:rgb(255,66,0);
            }
            .border{
                width: 516px;
                height: 6px;
                background-color:rgba(255,231,209,0.3);
                border-radius: 10px;
                position: absolute;
                bottom:0;
                left:50px;
                z-index: 888;
                
            }
        }
        .list2-text1{
            font-size:24px;
           position: absolute;
           top:135px;
           left:60px;
            font-weight: 600;
            
            span{
                color:rgb(255,66,0);
            }
            .border{
                width: 516px;
                height: 6px;
                background-color:rgba(255,231,209,0.3);
                border-radius: 10px;
                position: absolute;
                bottom:0;
                left:50px;
                z-index: 888;
            }
        }
        .list2-img3{
            width: 680px;
            margin-left: 38px;
         
            img{
                width: 100%;
            }
        }
    }
    .list-btn{
        width: 565px;
        height: 86px;
        border-radius: 50px;
        font-size: 36px;
        color:white;
        text-align: center;
        font-weight: 700;
        background: linear-gradient(rgb(247,182,50),rgb(242,57,21));
        line-height: 86px;
        margin-left: 90px;
        margin-top: 50px;
    }

    .zjx-list3{
        width: 750px;
        height: 884px;
        background: url("../../images/zjx-1110/zjx11.jpg") no-repeat;
        background-size: 100% 100%;
        margin-top: 30px;
       
    }
    
   
}
.botton-fixed{
    width: 100%;
    font-size: r(44);
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    // color: #ff5a5a;
    position: fixed;
    left: 0;
    bottom:-100px;
    // background-color: #ffe25c;
    background-color: #ff604a;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    z-index: 100;
    &.show{
        bottom: 0;
    }
}
